body { font-family: sans-serif; padding: 50px; background-image: url(cutcutkraj.jpg) ;}

.nadpis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bull{
    align-self: flex-start;
    justify-content: right;
    margin-left: -0.1%;
    margin-bottom: -1.7%;
    font-family: sans-serif;
}
.cow{
    justify-content: left;
    margin-left: 86%;
    margin-top: -9%;
    
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Handwriting'; 
    margin-top: -6%;
    
}
    
input[type="number"] { width: 40px; font-size: 20px; text-align: center; margin: 5px; font-family: sans-serif;}
    
button { font-size: 18px; padding: 10px; margin-top: 10px; font-family: sans-serif;}
    
.result { margin-top: 20px; font-size: 20px; margin-bottom: 20px; font-family: sans-serif;}

section {
    margin: 0 auto;
    width: 20%; /* nebo jiná šířka */
    font-family: sans-serif;
    
    
}
.history{
    font-size: medium;
}

article{
    border-width: 1px;
    border-color: #000000;
    border-style: outset;
    text-align: center;
    font-family: sans-serif;
    border-radius: 20px;
    background-color: #eae2b7;
    
}
