.nadpis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bull{
    align-self: flex-start;
    justify-content: right;
    margin-left: -1%;
}
.cow{
    position: relative;
    align-items: flex-end;
    justify-content: left;
    margin-left: 86%;
    margin-top: -20%;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Handwriting'; 
    margin-top: -6%;
    
}

body { font-family: Arial; padding: 30px; }
    
input[type="number"] { width: 40px; font-size: 20px; text-align: center; margin: 5px; }
    
button { font-size: 18px; padding: 10px; margin-top: 10px; }
    
.result { margin-top: 20px; font-size: 20px; }